<div class="row justify-content-center banner">
  <div class="col-12 d-flex flex-column justify-content-center align-items-center h-100">
    <%= image_tag 'my_image.jpg', alt: "profile photo", class: 'avatar-massive' %>
    <h1 class="title-main">Carlos Ledoux</h1>
  </div>
</div>
